services:
  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: my_mqtt_broker
    restart: always
    ports:
      - "1883:1883"  # 파이썬 통신용
      - "8083:8083"  # 웹소켓 통신용
      - "9001:9001"  # (보조) 웹소켓 표준 포트
    volumes:
      # 위에서 만든 설정 파일을 컨테이너 내부로 연결
      - ./mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf


#----------------------------------------------------------
# 위 파일이 있는 디렉토리에서 아래 명령어로 컨테이너 실행
# docker-compose up -d
# docker-compose up -d --build

# 컨테이너 중지 및 삭제 명령어
# docker-compose down

# 현재 브로커로 전송되는 데이터 확인
# mosquitto_sub : MQTT 구독
# -t "#" : 모든 토픽 구독
# -v : 수신된 메시지와 토픽을 함께 출력
# docker exec -it my_mqtt_broker mosquitto_sub -t "#" -v


# 누가 해당 포트를 사용하고 있는지 체크하기
# netstat -ano | findstr :1883

# 관리자 권한 cmd에서 아래 명령어로 winnat 서비스 재시작
# net stop winnat
# net start winnat